
  <%- include('partials/homepageheader') %>
  <h1 class="solid"><i class='fas fa-stethoscope' style='font-size:48px;color:red'></i>  NEWLIFE HOSPITAL</h1>
  <nav>
    <ul>
      <li><a href="home">HOME</a></li>
      <li><a href="about us">ABOUT US</a></li>
      <li><a href="#">CONTACT US</a></li>
      <li><a href="#">LOCATION</a></li>
      <li><a href="#">OUR TEAM</a></li>
    </ul>
  </nav>
    <marquee><h2>**Clinic timings is from 5:00PM to 9:00PM**  SUNDAY OFF</h2></marquee>
  <div class="container">
    <div class="photo">
      <a href="doctorlogin"><img src="doctor.jpg"></a>
        <div class="desc"><a href="doctorlogin">DOCTOR's LOGIN</a></div>
    </div>
    <div class="photo">
      <a href="pharmacistlogin"><img src="pharma.jpg"></a>
        <div class="desc"><a href="pharmacistlogin">PHARMACIST's LOGIN</a></div>
    </div>
    <div class="photo">
      <a href="receptionistlogin"><img src="receptionist.jpg"></a>
        <div class="desc"><a href="receptionistlogin">RECEPTIONIST's LOGIN</a></div>
    </div>
  </div>
  <%- include('partials/footer') %>
