<h1>This is User's Section</h1>

<% if(ID=='5') { %>
    <h2>Your are Admin of the Website.... </h2>
<%  } else { %>
    <h2>Your are General User of the Website.... </h2>
<% } %>

<h2>Your User ID is : <%= ID %> </h2>





<!-- <%= %>   //It will evaluate the value and return it to HTML -->
<!-- <%  %>   //It will not make any diff in HTML just perform logic and loopthrough -->